@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Playfair+Display:wght@500&display=swap');

* {font-family: 'Crimson Pro', Open Sans, sans-serif;  font-size: 17px; line-height: 24px;}
BODY {background-color:transparent;padding:0px;margin:0px;}

.img-responsive { max-width: 100%; }
.columnL{margin-bottom:10px;}
.columnL LABEL { display: inline-block; width: 100%; font-size: 15px !important; text-align: left; }

/* bootstrap part */
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
*::before, *::after {
    box-sizing: border-box;
}
@media (min-width: 500px) and (max-width: 767px) {
.override-xs-4 { float: left; width: 33.3333%; }
.override-xs-6 { float: left; width: 50%; }
}
@media (min-width: 1280px) {
	.hidden-lg { display: none !important; }
}
@media (min-width: 1024px) and (max-width: 1279px) {
	.hidden-md { display: none !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
}
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
}
.row { /*margin-left: -15px; margin-right: -15px;*/ }
.margin-override { margin-left: -15px; margin-right: -15px; }
.row:before,.row:after {  display: table;  content: " "; }
.row:after { clear: both; }
* { box-sizing: border-box; }
@media (min-width: 600px) and (max-width: 767px) {
.override-xs-4 { width: 33.33333333% !important; float: left;}
.override-xs-6 { width: 50% !important; float: left;}
.override-xs-12 { width: 100% !important; float: left;}
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
}

}
/* bootstrap part end */

FORM {margin:0px;padding:0px;display:inline;}
HR {margin: 2px 0px 2px 0px; padding: 0px;}

.link {cursor:pointer;}
.wbm_stacktrace {display:none;}

A {}

H1 { font-weight: 500; color: #2E4B9B; font-size: 24px; text-align: left; font-family: 'Playfair Display', serif; }
H1.title {font-size:24px; font-weight: 500; color:#2E4B9B; font-family: 'Playfair Display', serif; }

DIV.wbm_content {text-align:left;margin-bottom: 15px; margin: auto; max-width: 1170px;}
DIV.box_title { font-family: 'Playfair Display', serif; font-weight: 500; color: #2E4B9B; padding-top: 24px; font-size:22px; margin-bottom: 10px;}
DIV.box_title STRONG { line-height:20px; margin-top: 0px; margin-bottom:10px; }

.box_content { border:1px solid rgba(46, 75, 155, 0.4); border-radius: 4px; background: #fff; margin-bottom: 15px; padding-bottom: 15px; padding-top: 15px; color: #6D81B9;}
.box_content H1 { font-weight: bold; color: #2E4B9B; margin-bottom:5px; text-align: left;}
.wbm_content .box_content a {color:#2E4B9B; text-align:center; font-weight:bold; text-transform: capitalize;}

DIV.box_content LABEL { display: block; margin-bottom: 5px; font-weight: 300; font-size: 15px; color: #2E4B9B; text-transform: uppercase; letter-spacing: 0.5px;}
#filter_availability_status_label { display: inline-block; text-align: left; font-weight: 400; }
DIV.box_content SELECT { height: 40px;
					     padding: 5px 10px;
					     border: 1px solid rgba(46, 75, 155, 0.4);
					     color: #2E4B9B;
					     text-transform: capitalize;
 					     cursor: pointer;
 					     width:100%;
					   }
DIV.box_content #filter_year_id { width: 32%; }
DIV.box_content #filter_month_id { width: 32%; }
DIV.box_content #filter_date_id { width: 32%; }

DIV.box_content DIV.right_submit { }
DIV.box_content DIV.right_submit INPUT { cursor: pointer;
										border: solid 1px #2E4B9B;
										font-weight: 300;
										background-color: #fff;
										display: block;
										padding: 5px;
										color: #2E4B9B;
										width: 100%;
										text-align: center;
										text-transform: capitalize;
										font-size: 18px;
										margin-top: 10px;
										height: 40px;
										}
DIV.box_content DIV.right_submit INPUT:hover { background: rgba(46, 75, 155, 0.15); }

INPUT.button { cursor: pointer;
				border: solid 1px #2E4B9B;
				font-weight: 300;
				background-color: #fff;
				display: block;
				padding: 5px;
				color: #2E4B9B;
				width: 100%;
				text-align: center;
				text-transform: capitalize;
				font-size: 18px;
				height: 40px;
				}
INPUT.button:hover { background: rgba(46, 75, 155, 0.15); }

button.booking { cursor: pointer;
				border: solid 1px #2E4B9B;
				font-weight: 300;
				background-color: #2E4B9B;
				display: block;
				padding: 8px 24px;
				color: #fff;
				width: 100%;
				text-align: center;
				font-size: 18px;
				}
button.booking:hover { background: rgba(46, 75, 155, 0.85);}

DIV.image{width:122px;height:92px;overflow:hidden;margin-right: 8px;}
DIV.cell {padding-top:3px;padding-bottom:1px;}

DIV.footer {}

DIV.footer_line {border-bottom: 1px solid #C3C3C3; margin-bottom:10px; padding-bottom: 10px;}

DIV.spacer {height:10px;width:10px;}
DIV.spacer_h {height:1px;width:50px;}
DIV.spacer_v {height:10px;width:1px;}

STRONG {color: #2E4B9B; font-weight: normal; font-weight: 500;}
YELLOW_BACKGROUND {background: #FFFF00; }

/* overriding bootstrap defaults */
/*
BODY STRONG {color: #B81315; font-weight: normal;}
BODY * { box-sizing: content-box; }
*/

.discount { color: #4CA67A; font-size:20px; }
.price { color:#2E4B9B; font-size:20px; }
.formField { height: 40px;
		     padding: 5px 10px;
		     border: 1px solid rgba(46, 75, 155, 0.4);
		     color: #2E4B9B;
		     text-transform: capitalize;
		     cursor: pointer;
		     width: 100%;
		   }
.formField:focus {border: 1px solid #2E4B9B;}
input[name=email] {text-transform: lowercase !important;}
INPUT {	margin:1px; padding:0px; }


.hover {margin: 0px; padding: 1px; cursor:pointer;}
.hover:hover {background-color:#797979; cursor:pointer;}
.hover IMG{margin: 0px; padding: 0px;}

/* YACHT DETAILS */
TABLE.yacht_details { width: 100%; }
TABLE.yacht_details TH { text-align: left; font-size:14px; line-height:24px; color:#2E4B9B; }
TABLE.yacht_details TD { line-height: 20px; vertical-align: top; }
TD.blue { padding-right: 5px; }
TD.blue LABEL {  }
TD.blue STRIKE {  }
TD.bold { color: #B81315; padding-right: 20px; }

TD.table-title { padding-right: 5px; color: #6D81B9; vertical-align: baseline;}
TD.table-title LABEL {  }
TD.table-title STRIKE {  }
TD.table-data { color: #2E4B9B; padding-right: 20px; vertical-align:baseline; }
TD.table-data-last { color: #2E4B9B; text-align: right; vertical-align: baseline;}

TABLE.search_result { /*width: 100%;*/ }
/*TABLE.search_result TD { vertical-align: top; }*/

TABLE.booking-detail { width: 100%; }
TABLE.price-info { width: 100%; }

DIV.total-price-title { line-height:20px;
						margin-top: 0px;
						margin-bottom:10px;
						color:#2E4B9B;
						font-weight: bold;
						float: left;
						width: 200px;
						font-size: 20px;
						}
DIV.total-price { line-height:20px;
				  margin-top: 0px;
				  margin-bottom:10px;
				  color:#2E4B9B;
				  font-weight: bold;
				  float: right;
				  width: 200px;
				  text-align:right;
				  font-size: 20px;
				}

.box_content_images { border-bottom:solid 1px #0b5eb5; margin-bottom:10px; padding-bottom: 5px; }
.box_content_images_main { float: left; width: 446px; height: 336px; overflow: hidden; }
.box_content_images_side { float: right; width: 216px; height: 336px; overflow: hidden; }

.vr { float: left; width: 446px; margin-top: 10px; margin-bottom: 10px; }
.vr A { display: block; margin-left: 14px; background-color: #153954; color: #D2D1D1; line-height: 24px; width: 446px; text-align: center; }
.vr A:hover { text-decoration: none; color:#B9024D; }

.more_pic { float: right; width: 216px; padding-top: 10px; }
.more_pic A { display: block;
			  margin-right: 14px;
			  background-color: #dddddd;
			  line-height: 24px;
			  width: 216px;
			  text-align: center;
			  -webkit-border-radius: 5px;
			  -moz-border-radius: 5px;
			  border-radius: 5px;
			  color: #000000;
			  }
.more_pic A:hover { text-decoration: none; color:#0b5eb5; }

TABLE.prices { width: 100%; }
TABLE.prices TH { text-align: center; background-color: #dddddd; }
TABLE.prices TD.price { font-weight: bold; border-left: solid 1px #dddddd; }
TABLE.prices TD { border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd; text-align: center; line-height: 20px; font-size: 11px; }

TABLE.yachts { width: 100%; }
TABLE.yachts TH { text-align: center; background-color: #153954; line-height: 20px; font-size: 11px; }
TABLE.yachts TD.yachts { font-weight: bold; text-align: left; padding-left: 5px; padding-right: 5px; border-left: solid 1px #153954; }
TABLE.yachts TD.price { text-align: right; padding-left: 5px; padding-right: 5px; }
TABLE.yachts TD { border-right: solid 1px #153954;
				  border-bottom: solid 1px #153954;
				  text-align: center;
				 }


/* YACH LIST (our fleet - yachts) */
DIV.wbm_yachtlist_modelkind{
	font-weight:bold;
	font-size:14px;
}

DIV.wbm_yachtlist_box{
	float:left;
	width:24%;
	text-align:center;
	margin-bottom:2px;
	min-height:120px;
}

DIV.wbm_yachtlist_image{}
DIV.wbm_yachtlist_info{}

.rare {float:right; margin-top:3px; background: #990000; border: solid 4px #990000;}
.periodic {float:right; margin-top:3px; background: #FFA500; border: solid 4px #FFA500;}
.realtime{float:right; margin-top:3px; /*background: #4A9F94; border: solid 1px #4A9F94; border-radius: 3px;*/}

option.rare{float:right; margin-top:1px; margin-left:3px; background: none; border: none; border-left: solid 8px #990000; width: 100%; }
option.periodic{float:right; margin-top:1px; margin-left:3px; background: none; border: none; border-left: solid 8px #FFA500; width: 100%; }
option.realtime{float:right; margin-top:1px; margin-left:3px; background: none; border: none; border-left: solid 8px #4A9F94; width: 100%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
option.rare{float:right; margin-top:1px; margin-left:3px; background: none; border: none; /*border-left: solid 8px #990000;*/  width: 100%; background-color: #990000; }
option.periodic{float:right; margin-top:1px; margin-left:3px; background: none;  border: none; /*border-left: solid 8px #FFA500;*/ width: 100%; background-color: #FFA500; }
option.realtime{float:right; margin-top:1px; margin-left:3px; background: none;  border: none; /*border-left: solid 8px #4A9F94;*/ width: 100%; background-color: #4A9F94; }
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media
{
option.rare{float:right; margin-top:1px; margin-left:3px; background: none; border: none; /*border-left: solid 8px #990000;*/  width: 100%; background-color: #990000; }
option.periodic{float:right; margin-top:1px; margin-left:3px; background: none;  border: none; /*border-left: solid 8px #FFA500;*/ width: 100%; background-color: #FFA500; }
option.realtime{float:right; margin-top:1px; margin-left:3px; background: none;  border: none; /*border-left: solid 8px #4A9F94;*/ width: 100%; background-color: #4A9F94; }
}}

DIV.legend {}
DIV.legend_border {float:left; border: solid 1px black; margin-right: 5px;}
DIV.legend_border DIV {width:12px; height: 12px; line-height: 10px;}
DIV.legend_border DIV.legend_rare {background: #990000;}
DIV.legend_border DIV.legend_periodic {background: #FFA500;}
DIV.legend_border DIV.legend_realtime {background: #4A9F94;}


/* SMALL SEARCH FORM */
DIV.wbm_ssf_box { width: 100%; color: #2E4B9B; background: rgba(247, 248, 251, 0.6); max-width:100%; height: auto; overflow: hidden; padding: 16px 24px; border-radius: 4px;}
DIV.wbm_ssf_box DIV.title{display: none;}
LABEL.ssf { display: block; padding-bottom: 4px; font-weight: 300; font-size: 15px; text-transform: uppercase; letter-spacing: 0.5px;}
DIV.wbm_ssf_box SELECT { padding: 8px;
					     border: 1px solid #2E4B9B;
					     color: #2E4B9B;
 					     cursor: pointer;
 					     width: 100%;
 					     margin-bottom: 5px;
 					     font-size: 16px;
 					     text-transform: capitalize;
					   }
DIV.wbm_ssf_box #filter_year_id { width: 35%; }
DIV.wbm_ssf_box #filter_month_id { width: 30%; }
DIV.wbm_ssf_box #filter_date_id { width: 30%; }

DIV.wbm_ssf_box DIV.advancedsearch { float: left; width: 50%; margin: 5px 0; display: none; }
DIV.wbm_ssf_box DIV.advancedsearch a { font-size: 18px; font-weight: 600; color: #2E4B9B; text-transform: capitalize; white-space: nowrap; }

DIV.wbm_ssf_box DIV.submit { float: right; }
DIV.wbm_ssf_box DIV.submit BUTTON { cursor: pointer; border: none; font-weight: 400; background-color: #2E4B9B; display: block; padding: 8px 32px; color: #FFF; width: 100%; text-align: center; font-size: 18px;}
DIV.wbm_ssf_box DIV.submit BUTTON:hover { background: rgba(46, 75, 155, 0.85); }
DIV.wbm_ssf_box DIV.clear{display:none;}
DIV.wbm_ssf_box #wbm_ssf_box_clearAfterSubmit{}
DIV.wbm_ssf_box DIV.col-sm-3, DIV.wbm_ssf_box DIV.col-sm-2 {padding-left: 0px !important;} 



DIV.bottomDiv {
	position: fixed;
	z-index:1000;
	bottom: 0px;
	right: 10px;
	height:225px;
	width: 200px;
	background-color: #ffda93;
	border:1px double black;
}
DIV.scrollDiv {
	position: relative;
	height:175px;
	width: 200px;
	overflow: auto;
	background-color: #fbf9ef;
}

DIV.med_warning{color: orange; font-weight: bold;}
DIV.high_warning{color: red; font-weight: bold;}

TD.base {color: #B81315; font-weight: bold; background:#DDDDFF;}

DIV.error { color: red; font-size: 12px; border:2px solid red; padding:3px;margin-bottom:10px; font-weight: bold;}
DIV.info { color: green; font-size: 12px; border:2px solid green;padding:3px;margin-bottom:10px; font-weight: bold; }

/*contact form*/
.contactColumn { float: left; margin-bottom: 10px; margin-right: 20px;}
.contactColumn label { display: block; float: left; width: 100px; }
DIV.contactColumn INPUT { border: solid 1px #cccccc; font-size: 12px; width: 180px; }
DIV.contactColumn SELECT { border: solid 1px #cccccc; font-size: 12px; width: 180px; }

/* jCal Component CSS */
#calOne {
background:#e3e3e3;
padding:3px;
height:150px;
}

/* default dimensions and justification for each month including title */
.jCal {
	/* each day width + border-left + border-right */
	width:127px;
	height:21px;
	text-align:center;
	vertical-align:top;
	
}
/* default dimensions and justification for each month not including title */
.jCalMo {
	width:127px;		/* each day width + border-left + border-right */
	float:left;
	overflow:visible;
	height:100%;
	padding-right:1px;
	padding-left:1px;
	white-space:nowrap;
}
/* top month display block - i.e. January */
.jCal .month, .jCal .monthSelect, .jCal .monthName, .jCal .monthYear {
	line-height:16px;
	height:16px;
	text-align:center;
	vertical-align:bottom;
	font-family:'Crimson Pro';
	font-size:8pt;
	color:#000000;
	cursor:pointer;
	float:left;
}
/* month name per calendar style - includes left/right padding and alignment */
.jCal .monthName {
	padding-left:2px;
	padding-right:2px; 
	text-align:right;
}
/* year per calendar style - includes left/right padding and alignment */
.jCal .monthYear {
	float:right;
	padding-left:2px;
	padding-right:2px;
	text-align:left;
}
/* hilight style for new month combobox pulldown for hover */
.jCal .monthSelect {
	background:#EEE url(http://www.booking-manager.com/wbm2/include/images/jcal/eeGrad2.gif) bottom repeat-x;
}
/* do not edit - this enables the new month combobox selector */
.jCal .monthSelector {
	position:absolute;
}
/* do not edit - this enables the new month combobox selector "shadow" for capturing auto-hide */
.jCal .monthSelectorShadow {
	position:absolute;
	background:#808080;
	padding:0px;
}
/* this is the hover for the month name */
.jCal .monthNameHover {
	background:#EDEDED url(http://www.booking-manager.com/wbm2/include/images/jcal/double-arrow-vert.gif) center left no-repeat;
	color:#808080;
}
/* this is the hover for the year */
.jCal .monthYearHover {
	background:#EDEDED url(http://www.booking-manager.com/wbm2/include/images/jcal/double-arrow-vert.gif) center right no-repeat;
	color:#808080;
}
/* this is the hover for the new month or year hover in the new combobox selection */
.jCal .monthSelectHover {
	background:#069;
	color:#FFF;
}
/* day block dimensions and style - for all day blocks */
.jCalMo .dow, .jCalMo .day, .jCalMo .pday, .jCalMo .aday, .jCalMo .overDay, .jCalMo .invday, .jCalMo .selectedDay {
	width:16px;
	font-family: 'Crimson Pro';
	font-size:8pt;
	color:#000000;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #EEE;
	text-align:center;
	cursor:default;
	float:left;
}
/* day of week header specific style */
.jCalMo .dow {
	background:#EEE url(http://www.booking-manager.com/wbm2/include/images/jcal/eeGrad.gif) bottom repeat-x;
	border-bottom:0px;
}
/* actual calendar day default style */
.jCalMo .day, .jCalMo .invday {
	height:16px;
	text-align:center;
}
/* selectable calendar day specific style */
.jCalMo .day {
	cursor:pointer;
	background:#FFF;
}
/* blacked-out calendar day specific style */
.jCalMo .invday {
	color:#808080;
	background:#eeeeee;
	text-decoration:line-through;
}
/* previous and subsequent months calendar day specific style */
.jCalMo .pday, .jCalMo .aday {
	height:16px;
	background:#e3e3e3;
	color:#CCC;
}
/* selected day */
.jCalMo .selectedDay {
	color:#FFF;
	/* must use rgb() syntax for jquery.color.js compliance */
	background:rgb(0, 143, 214);
}
/* mouseover hilighted selectable day */
.jCalMo .overDay {
	color:#FFF;
	/* must use rgb() syntax for jquery.color.js compliance */
	background:rgb(0, 102, 153);
}
/* left month navigation button - no need to change */
.jCal .left {
	background:url(http://www.booking-manager.com/wbm2/include/images/jcal/left.gif) center center no-repeat;
	width:16px;
	height:16px;
	vertical-align:middle;
	cursor:pointer;
	float:left;
}
/* right month navigation button - no need to change */
.jCal .right {
	background:url(http://www.booking-manager.com/wbm2/include/images/jcal/right.gif) center center no-repeat;
	width:16px;
	height:16px;
	vertical-align:middle;
	cursor:pointer;
	float:right;
}
/* no need to change - this is for carousel opacity */
.jCalMask, .jCalMove {
	position:absolute;
	overflow:hidden;
}
.optional-extras LABEL { display: inline-block !important; }
.table-data-last { white-space: nowrap; }
.table-title LABEL { font-size: 12px !important; font-weight: 400 !important; }
#crew_number{ text-indent: 0.01px; border-radius: 0; padding: 5px; box-sizing: border-box; cursor: pointer; width: 100px; }

#booking_actions_content .btn-warning {
	cursor: pointer;
	border: solid 1px #2E4B9B;
	border-radius: 0px;
	font-weight: 300 !important;
	background-color: #2E4B9B !important;
	display: block;
	padding: 8px 32px;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 18px !important;
}
#booking_actions_content .btn-warning:hover {background: rgba(46, 75, 155, 0.15);}
.box_content:empty { display: none !important; }
.box-content form[name="Form1"] div.row.margin-bottom-20 { display: none !important; }
#details {color: #6D81B9;}
H2.services {font-family: 'Platfair Display', serif; color: #2E4B9B; font-weight: 500; font-size: 22px; margin-top: 40px; margin-bottom: 15px !important;}
.additional-services TD A.btn { background: #2E4B9B; border: 1px solid #2E4B9B; border-radius: none; padding: 8px 24px; font-size: 18px; font-family: 'Crimson Pro' sans-serif;}
.additional-services TD A.btn:hover {background: rgba(46, 75, 155, 0.15);}
table.optional-extras {border-collapse: collapse;}
.optional-extras tbody tr:nth-child(odd) { background: #EDEFF6 !important; }
td {padding: 4px 6px !important;}
p {padding-left: 8px; padding-right: 8px; color: #6D81B9;}
p:empty {display: none !important;}
i {font-style: normal !important;}

@media only screen and (min-width: 768px) and (max-width: 815px) { 
	DIV.wbm_ssf_box DIV.submit {float: none;}
	DIV.wbm_ssf_box {padding: 8px 0px 8px 8px;}
	LABEL.ssf:empty {display: none;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) { 
	DIV.wbm_ssf_box DIV.submit {float: none;}
	LABEL.ssf {padding-bottom: 0px;}
	DIV.wbm_ssf_box {padding: 8px 0px 8px 8px;}
	LABEL.ssf:empty {display: none;}
}
@media only screen and (max-width: 599px) { 
	DIV.wbm_ssf_box {padding: 8px;}
	LABEL.ssf {padding-bottom: 0px;}
	DIV.wbm_ssf_box DIV.submit {float: none;}
	DIV.wbm_ssf_box {padding: 8px 0px 8px 8px;}
	LABEL.ssf:empty {display: none;}
	TABLE.search_result {width: 100%}
	TD.table-data {text-align: right;}
	table.optional-extras * { display: contents; }
	table.optional-extras { display: flex; flex-direction:column;}
	table.optional-extras td { display:block;}
	table.optional-extras tr > *:nth-child(1) { order:1;}
	table.optional-extras tr > *:nth-child(2) { order:2;}
	table.optional-extras tr > *:nth-child(3) { order:3;}
	table.price-info TD.table-data {text-align: left;}
}